{% extends 'layout.html' %} {% block content %}

<h2>This is the create page</h2>
<div class="container-content">
    <form method="POST">
        <input type="text" name="name" id="name" placeholder="Character Name" />
        <label for="race">Race:</label>
        <select name="race" id="race">
            <option value = "hill_dwarf">Hill Dwarf</option>
            <option value = "mountain_dwarf">Mountain Dwarf</option>
            <option value = "high_elf">High Elf</option>
            <option value = "wood_elf">Wood Elf</option>
            <option value = "drow">Drow</option>
            <option value = "lightfoot_halfling">Lightfoot Halfling</option>
            <option value = "stout_halfling">Stout Halfling</option>
            <option value = "human">Human</option>
            <option value = "dragonborn">Dragonborn</option>
            <option value = "forest_gnome">Forest Gnome</option>
            <option value = "rock_gnome">Rock Gnome</option>
            <option value = "half-elf">Half-Elf</option>
            <option value = "half-orc">Half-Orc</option>
            <option value = "tiefling">Tiefling</option>
        </select>
        <label for="class">Class:</label>
        <select name="class" id="class">
            <option value = "barbarian">Barbarian</option>
            <option value = "bard">Bard</option>
            <option value = "cleric">Cleric</option>
            <option value = "druid">Druid</option>
            <option value = "fighter">Fighter</option>
            <option value = "monk">Monk</option>
            <option value = "paladin">Paladin</option>
            <option value = "ranger">Ranger</option>
            <option value = "rogue">Rogue</option>
            <option value = "sorcerer">Sorcerer</option>
            <option value = "warlock">Warlock</option>
            <option value = "wizard">Wizard</option>
        </select>
        <fieldset name="ability_scores" id="ability_scores">
            <legend>Ability Scores</legend>
            <label for="str">STR</label>
            <input type="number" name="str" id="str" />
            <label for="dex">DEX</label>
            <input type="number" name="dex" id="dex" />
            <label for="con">CON</label>
            <input type="number" name="con" id="con" />
            <label for="int">INT</label>
            <input type="number" name="int" id="int" />
            <label for="wis">WIS</label>
            <input type="number" name="wis" id="wis" />
            <label for="cha">CHA</label>
            <input type="number" name="cha" id="cha" />
        </fieldset>
        <fieldset name="personality" id="personality">
            <legend>Personality</legend>
            <label for="background">Background</label>
            <select name="background" id="background">
                <option value = "Acolyte">Acolyte</option>
                <option value = "Charlatan">Charlatan</option>
                <option value = "Criminal">Criminal</option>
                <option value = "Entertainer">Entertainer</option>
                <option value = "Folk Hero">Folk Hero</option>
                <option value = "Guild Artisan">Guild Artisan</option>
                <option value = "Hermit">Hermit</option>
                <option value = "Noble">Noble</option>
                <option value = "Outlander">Outlander</option>
                <option value = "Sage">Sage</option>
                <option value = "Sailor">Sailor</option>
                <option value = "Soldier">Soldier</option>
                <option value = "Urchin">Urchin</option>
            </select>
        </fieldset>
        <input type="submit" value="Create Character" />
    </form>
</div>
{% endblock %}