<!DOCTYPE html>
<html>

<head>
    <title>My Python Web App</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}'>
</head>

<body>

    <nav class="navbar">
        <ul class="left">
            <li><a href="/">Home</a></li>
        </ul>
        <ul class="right">
            <li><a href="/create">Create</a></li>
        </ul>
    </nav>

    <div align="center">


        <h1>My Python Web App</h1>

        <div class="main-container">
            {% block content %} {% endblock %}
        </div>

    </div>
</body>

</html>